*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: Garet;
    src: url(../font/Garet-Book.otf);
}

body{
    background-color: black;
    color: white;
    margin: 10%;

}
.icon{
    background-image: url(../img/zap.png);
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 6%;
    right: 7%;
    font-size: 30px;
    color: white;
    border-radius: 50%;
    padding: 3px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    z-index: 100;
    box-shadow: 2px 2px 2px #ccfcc0;
}

.icon .fab{
    padding-top: 9px;
}

.icon:hover{    
    color: #029e3b;
    box-shadow: 2px 2px 20px #5fe690;
}

.img{
    width: 20%;
}

.apresentacao{
    margin-top: -20%;
    display: flex;
    margin-left: 20px;
    margin-bottom: -10%;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    font-family: Garet;
    font-size: 100px;
}

p{
    font-size: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

section{
    display: grid;
    text-align: justify;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

.elementhidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 3s;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1s;
    
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    transition: all 1s;
}

.trabalhos{
    margin-left: 10%;
    display: flex;
    gap: 20px;
    margin-bottom: 5%;
}

.trabalho{
    width: 20%;
}

.final{
    text-align: justify;
}

.logos :nth-child(2){
    transition-delay: 400ms;
    margin-bottom: 40px;
}
.logos :nth-child(3){
    transition-delay: 700ms;
    margin-bottom: 40px;
}
.logos :nth-child(4){
    transition-delay: 1000ms;
    margin-bottom: 40px;
}